* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cabeza {
    width: 160px;
    height: 160px;
    border: 3px solid #aaa;
    border-radius: 50%;
    position: relative;
}

.ojo1, .ojo2 {
    background-color: #444;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
}

.ojo1 {
    left: 40px;
}

.ojo2 {
    right: 40px;
}

.nariz {
    width: 0;
    height: 0;
    border: 13px solid transparent;
    border-top: 0;
    border-bottom: 35px solid orange;
    transform: rotae(-90deg);
    position: absolute;
    top: 88px;
    left: 37%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.nariz-base {
    background-color: orange;
    width: 25.5px;
    height: 25.5px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 37px;
    transform: translate(-50%, -50%);
}

.boca {
    width: 100px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.puntos-boca {
    background-color: #444;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
}

.puntos-boca:nth-child(1) {
    top: 0;
    left: 0;
}

.puntos-boca:nth-child(2) {
    left: 26%;
    bottom: -5px;
    transform: translate(-50%, -50%);
}

.puntos-boca:nth-child(3) {
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, -50%);
}

.puntos-boca:nth-child(4) {
    right: 10%;
    bottom: -5px;
    transform: translate(-50%, -50%);
}

.puntos-boca:nth-child(5) {
    top: 0;
    right: 0;
}

.cuerpo {
    width: 200px;
    height: 200px;
    border: 3px solid #aaa;
    border-radius: 50%;
    margin-top: -5px;
}

.boton-cuerpo {
    background-color: #444;
    border: 5px solid orangered;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}

.boton-cuerpo:nth-child(1) {
    left: 43%;
    bottom: 125px;
    transform: translate(-50%, -50%);
}

.boton-cuerpo:nth-child(2) {
    left: 42%;
    bottom: 79px;
    transform: translate(-50%, -50%);
}

.boton-cuerpo:nth-child(3) {
    left:45%;
    bottom: 35px;
    transform: translate(-50%, -50%);
}

.brazo1, .brazo2 {
    background-color: sienna;
    width: 106px;
    height: 7px;
    position: absolute;
}

.brazo1 {
    top: 180px;
    left: -70px;
    transform: rotate(34deg);
}

.brazo2 {
    top: 180px;
    right: -70px;
    transform: rotate(160deg);
}

.brazo-dedo {
    background-color: sienna;
    width: 35px;
    height: 7px;
    position: absolute;
}

.brazo-dedo:nth-child(1) {
    transform: rotate(40deg);
    top: -10px;
}

.brazo-dedo:nth-child(2) {
    transform: rotate(-40deg);
    top: 10px;
}

.sombrero {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 0;
    border-bottom: 100px solid orangered;
    transform: rotae(-90deg);
    position: absolute;
    top: -25px;
    left: 55%;
    transform: translate(-50%, -50%) rotate(16deg);
}